dashboad/flow_v2.json
[{
    "id": "6b0c82e4.28f77c",
    "type": "tab",
    "label": "Smart-Energy-V2",
    "disabled": false,
    "info": ""
}, {
    "id": "dc3b84e3.73c928",
    "type": "ui_gauge",
    "z": "6b0c82e4.28f77c",
    "name": "potentiometer",
    "group": "2f12d5f7.07b6aa",
    "order": 1,
    "width": "4",
    "height": "5",
    "gtype": "donut",
    "title": "Tempo Real",
    "label": "w",
    "format": "{{value}}",
    "min": 0,
    "max": "5000",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "1000",
    "seg2": "3000",
    "x": 600,
    "y": 500,
    "wires": []
}, {
    "id": "a948adc1.66606",
    "type": "http request",
    "z": "6b0c82e4.28f77c",
    "name": "last_time_series",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.40:5000/last_time_series/?limit=10000",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 300,
    "y": 280,
    "wires": [
        ["29853cba.c2d8d4"]
    ]
}, {
    "id": "29853cba.c2d8d4",
    "type": "json",
    "z": "6b0c82e4.28f77c",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 490,
    "y": 280,
    "wires": [
        ["6585e568.eb2fec"]
    ]
}, {
    "id": "165b0f62.447621",
    "type": "function",
    "z": "6b0c82e4.28f77c",
    "name": "",
    "func": "msg.payload = msg.payload.power;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 520,
    "wires": [
        ["dc3b84e3.73c928", "b3053663.7e2048"]
    ]
}, {
    "id": "a2176228.af94b",
    "type": "http request",
    "z": "6b0c82e4.28f77c",
    "name": "last_time_series",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.40:5000/last_time_series/?limit=1",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 300,
    "y": 240,
    "wires": [
        ["3c0e007d.bef86"]
    ]
}, {
    "id": "3c0e007d.bef86",
    "type": "json",
    "z": "6b0c82e4.28f77c",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 490,
    "y": 240,
    "wires": [
        []
    ]
}, {
    "id": "482a2dad.1dd7c4",
    "type": "inject",
    "z": "6b0c82e4.28f77c",
    "name": "",
    "props": [{
        "p": "payload"
    }, {
        "p": "topic",
        "vt": "str"
    }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 80,
    "wires": [
        ["b337e58e.74acc8"]
    ]
}, {
    "id": "b337e58e.74acc8",
    "type": "exec",
    "z": "6b0c82e4.28f77c",
    "command": "cd /home/pi/Documents/projects/Smart_Energy_Backend && python3 app.py&",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "Start Server",
    "x": 290,
    "y": 80,
    "wires": [
        [],
        [],
        []
    ]
}, {
    "id": "3d7b209.8626be",
    "type": "http request",
    "z": "6b0c82e4.28f77c",
    "name": "consumption_yearly",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.40:5000/consumption/yearly/?year=2021&use_cache=1",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 320,
    "y": 320,
    "wires": [
        ["3b3e0c8.74fe7f4"]
    ]
}, {
    "id": "3b3e0c8.74fe7f4",
    "type": "json",
    "z": "6b0c82e4.28f77c",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 490,
    "y": 320,
    "wires": [
        ["b50d4c05.787ce"]
    ]
}, {
    "id": "d21e37a5.22ac78",
    "type": "ui_chart",
    "z": "6b0c82e4.28f77c",
    "name": "yearly_consumption",
    "group": "2f12d5f7.07b6aa",
    "order": 2,
    "width": "20",
    "height": "5",
    "label": "Consumo Anual [KW/h]",
    "chartType": "bar",
    "legend": "false",
    "xformat": "D/M",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "999",
    "removeOlderPoints": "",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
    "outputs": 1,
    "useDifferentColor": false,
    "x": 840,
    "y": 320,
    "wires": [
        []
    ]
}, {
    "id": "6585e568.eb2fec",
    "type": "function",
    "z": "6b0c82e4.28f77c",
    "name": "daily data",
    "func": "var data = []\nmsg.payload.time_series.forEach(function (item, indice, array) {\n    var d = new Date(item.created_at);\n    d.setHours(d.getHours() - 3);\n    data.push({\n        \"x\": d.toString(),\n        \"y\": item.power\n    });\n});\n\nmsg.payload = [{\n    \"series\": [\"Hist\"],\n    \"data\": [data],\n    \"labels\": [\"\"]\n}]\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 660,
    "y": 280,
    "wires": [
        []
    ]
}, {
    "id": "b50d4c05.787ce",
    "type": "function",
    "z": "6b0c82e4.28f77c",
    "name": "yearly data",
    "func": "var labels = []\nvar data = [[]]\nmsg.payload.details.forEach(function (item, indice, array) {\n    var date = new Date(item.date)\n    var label = date.toLocaleString('pt-br', {\n        month: 'long'\n    }).substring(0, 3) + \"/\" + date.getFullYear()\n    labels.push(label)\n    data[0].push(item.consumption)\n});\nmsg.payload = [{\n    \"series\": [\"consumo mensal\"],\n    \"data\": data,\n    \"labels\": labels\n}];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 650,
    "y": 320,
    "wires": [
        ["d21e37a5.22ac78"]
    ]
}, {
    "id": "e4666564.4b8198",
    "type": "http request",
    "z": "6b0c82e4.28f77c",
    "name": "consumption_yearly",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://192.168.0.40:5000/consumption/yearly/?year=2021&use_cache=0",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 440,
    "y": 160,
    "wires": [
        ["4afe729c.7ec5dc"]
    ]
}, {
    "id": "4afe729c.7ec5dc",
    "type": "debug",
    "z": "6b0c82e4.28f77c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 160,
    "wires": []
}, {
    "id": "d6e4ee2.1ff271",
    "type": "inject",
    "z": "6b0c82e4.28f77c",
    "name": "",
    "props": [{
        "p": "payload"
    }, {
        "p": "topic",
        "vt": "str"
    }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 660,
    "y": 80,
    "wires": [
        ["e58912c8.c2911"]
    ]
}, {
    "id": "e58912c8.c2911",
    "type": "exec",
    "z": "6b0c82e4.28f77c",
    "command": "sudo reboot",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "",
    "x": 810,
    "y": 80,
    "wires": [
        [],
        [],
        []
    ]
}, {
    "id": "45ed0bad.c7f8c4",
    "type": "file",
    "z": "6b0c82e4.28f77c",
    "name": "time serie v2",
    "filename": "",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 490,
    "y": 440,
    "wires": [
        ["7117b2af.bff0ec"]
    ]
}, {
    "id": "f192c525.48c368",
    "type": "function",
    "z": "6b0c82e4.28f77c",
    "name": "",
    "func": "var date = new Date().toISOString();\nvar folder = \"/home/pi/Documents/projects/Smart_Energy_Backend/src/dataset/time_series_v2/\";\nvar payload = date.toString() + \",\" + msg.payload.power;\nmsg.filename = folder + date.slice(0, 10) + \".csv\";\nmsg.payload = payload\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 440,
    "wires": [
        ["45ed0bad.c7f8c4"]
    ]
}, {
    "id": "e12c6b0b.e368b8",
    "type": "http in",
    "z": "6b0c82e4.28f77c",
    "name": "",
    "url": "/time_series",
    "method": "post",
    "upload": true,
    "swaggerDoc": "",
    "x": 150,
    "y": 460,
    "wires": [
        ["f192c525.48c368", "165b0f62.447621"]
    ]
}, {
    "id": "7117b2af.bff0ec",
    "type": "http response",
    "z": "6b0c82e4.28f77c",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 440,
    "wires": []
}, {
    "id": "b3053663.7e2048",
    "type": "ui_chart",
    "z": "6b0c82e4.28f77c",
    "name": "daily_consumption",
    "group": "2f12d5f7.07b6aa",
    "order": 4,
    "width": "24",
    "height": "4",
    "label": "Histórico de Consumo [W]",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "1000",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 590,
    "y": 560,
    "wires": [
        []
    ]
}, {
    "id": "882ce121.014c8",
    "type": "inject",
    "z": "6b0c82e4.28f77c",
    "name": "",
    "props": [{
        "p": "payload"
    }, {
        "p": "topic",
        "vt": "str"
    }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 240,
    "y": 160,
    "wires": [
        ["e4666564.4b8198"]
    ]
}, {
    "id": "2f12d5f7.07b6aa",
    "type": "ui_group",
    "name": "Dashboard",
    "tab": "765531fd.bdff6",
    "order": 1,
    "disp": false,
    "width": "24",
    "collapse": false
}, {
    "id": "765531fd.bdff6",
    "type": "ui_tab",
    "name": "Smart Energy",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": true
}]