dashboad/nodered.json
[
  {
    "id": "5aa687403127f993",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "msg.payload = msg.payload.power;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 60,
    "wires": [
      [
        "93b3a03f36dc2da6",
        "36d56ac978e19968"
      ]
    ]
  },
  {
    "id": "6f5b8f174b5d4c69",
    "type": "exec",
    "z": "c234a5bd34f73dd3",
    "command": "sudo reboot",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 910,
    "y": 100,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "b54bd36df952598c",
    "type": "file",
    "z": "c234a5bd34f73dd3",
    "name": "file",
    "filename": "",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 550,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "3c858404b627ec81",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "repositório",
    "func": "var topic = msg.topic.split(\"/\").pop()\nvar date = new Date().toISOString();\n\nvar year = date.slice(0, 4)\nvar month = date.slice(5, 7)\nvar fulldate = date.slice(0, 10)\n\nmsg.filename = \"/home/pi/Documents/time_series/\" + topic + \"/\" + fulldate + \".csv\";\nmsg.payload = date.toString() + \",\" + msg.payload.power;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 140,
    "wires": [
      [
        "b54bd36df952598c"
      ]
    ]
  },
  {
    "id": "5ad5632278f66db3",
    "type": "mqtt in",
    "z": "c234a5bd34f73dd3",
    "name": "Sensor",
    "topic": "/smart_energy/publish/client/a32ab0af-970c-11ec-9779-a463a116a9e2",
    "qos": "0",
    "datatype": "auto",
    "broker": "5d73ac6fbc2d7a0e",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 90,
    "y": 100,
    "wires": [
      [
        "7f8b837b1aad4a6c"
      ]
    ]
  },
  {
    "id": "7f8b837b1aad4a6c",
    "type": "json",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 230,
    "y": 100,
    "wires": [
      [
        "3c858404b627ec81",
        "5aa687403127f993"
      ]
    ]
  },
  {
    "id": "8676a267aa170f82",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "// Valdenir\nmsg.device = \"a32ab0af-970c-11ec-9779-a463a116a9e2\";\n\n// Cris\n// msg.device = \"31f30d16-9729-11ec-ad33-a463a116a9e2\";\n\n// Aurean\n// msg.payload = \"31f820c2-9729-11ec-882e-a463a116a9e2\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 240,
    "y": 280,
    "wires": [
      [
        "a79c5df5cdb18d0a",
        "c30939c241257d8b",
        "6b6699c8c0b1f1aa"
      ]
    ]
  },
  {
    "id": "6b6699c8c0b1f1aa",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "var device = msg.device;\nmsg.collection = \"timeseries\";\nmsg.limit = 24;\nmsg.payload = {\n    \"device\": device\n};\nmsg.sort = {\n    \"date\": -1\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 220,
    "wires": [
      [
        "7e90cbb4f6c48455"
      ]
    ]
  },
  {
    "id": "f82550345f722258",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "var labels = []\nvar data = [[]]\nmsg.payload.forEach(function (item, indice, array) {\n    labels.push(item.date.substring(10, 16))\n    data[0].push(item.consumption_kwh * 1000)\n});\n\ndata[0].reverse();\nlabels.reverse();\n\nmsg.payload = [{\n    \"series\": [\"Consumo\"],\n    \"data\": data,\n    \"labels\": labels\n}];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 220,
    "wires": [
      [
        "fe855bf9cc7403d5"
      ]
    ]
  },
  {
    "id": "946014c544b81c6a",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "var labels = []\nvar data = [[]]\n\nmsg.payload.forEach(function (item, indice, array) {\n    labels.push(item.date.substring(5, 10))\n    data[0].push(item.consumption_kwh)\n});\n\ndata[0].reverse();\nlabels.reverse();\n\nmsg.payload = [{\n    \"series\": [\"Consumo\"],\n    \"data\": data,\n    \"labels\": labels\n}];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 280,
    "wires": [
      [
        "94cde45947d5dacb"
      ]
    ]
  },
  {
    "id": "a79c5df5cdb18d0a",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "var num_days = 30;\nvar device = msg.device;\n\nmsg.collection = \"timeseries\";\nmsg.payload = [\n    {\n        \"$match\": {\n            \"device\": device\n        }\n    },\n    {\n        \"$group\": {\n            \"_id\": {\n                \"$substr\": [\"$date\", 0, 10]\n            },\n            \"date\": {\n                \"$first\": \"$date\"\n            },\n            \"consumption_kwh\": {\n                \"$sum\": \"$consumption_kwh\"\n            },\n        }\n\n    }, {\n        \"$sort\": {\n            \"date\": -1\n        }\n    }, {\n        \"$limit\": num_days\n    }\n]\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 280,
    "wires": [
      [
        "34955f00a736a8fc"
      ]
    ]
  },
  {
    "id": "e2db3ff9c356841f",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "var labels = []\nvar data = [[]]\n\nmsg.payload.forEach(function (item, indice, array) {\n    labels.push(item.date.substring(0, 7))\n    data[0].push(item.consumption_kwh)\n});\n\nlabels.reverse();\ndata[0].reverse();\n\nmsg.payload = [{\n    \"series\": [\"Consumo\"],\n    \"data\": data,\n    \"labels\": labels\n}];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 720,
    "y": 340,
    "wires": [
      [
        "4d2e618aed79bf60"
      ]
    ]
  },
  {
    "id": "c30939c241257d8b",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "var num_months = 30;\nvar device = msg.device;\n\nmsg.collection = \"timeseries\";\nmsg.payload = [\n    {\n        \"$match\": {\n            \"device\": device\n        }\n    }, \n    {\n        \"$group\": {\n            \"_id\": {\n                \"$substr\": [\"$date\", 0, 7]\n            },\n            \"date\": {\n                \"$first\": \"$date\"\n            },\n            \"consumption_kwh\": {\n                \"$sum\": \"$consumption_kwh\"\n            },\n        }\n    },\n    {\n        \"$sort\": {\n            \"date\": -1\n        }\n    },\n    {\n        \"$limit\": num_months\n    }\n]\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 400,
    "y": 340,
    "wires": [
      [
        "12c13ee1548de574"
      ]
    ]
  },
  {
    "id": "7e90cbb4f6c48455",
    "type": "mongodb in",
    "z": "c234a5bd34f73dd3",
    "mongodb": "1172ed95d7a8c3d0",
    "name": "",
    "collection": "",
    "operation": "find",
    "x": 560,
    "y": 220,
    "wires": [
      [
        "f82550345f722258"
      ]
    ]
  },
  {
    "id": "34955f00a736a8fc",
    "type": "mongodb in",
    "z": "c234a5bd34f73dd3",
    "mongodb": "1172ed95d7a8c3d0",
    "name": "",
    "collection": "",
    "operation": "aggregate",
    "x": 560,
    "y": 280,
    "wires": [
      [
        "946014c544b81c6a"
      ]
    ]
  },
  {
    "id": "12c13ee1548de574",
    "type": "mongodb in",
    "z": "c234a5bd34f73dd3",
    "mongodb": "1172ed95d7a8c3d0",
    "name": "",
    "collection": "",
    "operation": "aggregate",
    "x": 560,
    "y": 340,
    "wires": [
      [
        "e2db3ff9c356841f"
      ]
    ]
  },
  {
    "id": "1f35fbb8225ac418",
    "type": "ui_button",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "group": "90c93efcedc1ffc9",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Atualizar",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 100,
    "y": 280,
    "wires": [
      [
        "8676a267aa170f82"
      ]
    ]
  },
  {
    "id": "9c3ec9c3bdcdb896",
    "type": "ui_button",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "group": "90c93efcedc1ffc9",
    "order": 8,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Reboot",
    "tooltip": "",
    "color": "",
    "bgcolor": "red",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 740,
    "y": 100,
    "wires": [
      [
        "6f5b8f174b5d4c69"
      ]
    ]
  },
  {
    "id": "93b3a03f36dc2da6",
    "type": "ui_gauge",
    "z": "c234a5bd34f73dd3",
    "name": "Tempo Real",
    "group": "90c93efcedc1ffc9",
    "order": 2,
    "width": 6,
    "height": 5,
    "gtype": "donut",
    "title": "Tempo Real",
    "label": "w",
    "format": "{{value}}",
    "min": 0,
    "max": "1800",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "450",
    "seg2": "1000",
    "className": "",
    "x": 570,
    "y": 40,
    "wires": []
  },
  {
    "id": "94cde45947d5dacb",
    "type": "ui_chart",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "group": "90c93efcedc1ffc9",
    "order": 6,
    "width": 24,
    "height": 5,
    "label": "Consumo nos últimos 30 dias [KW/h]",
    "chartType": "bar",
    "legend": "false",
    "xformat": "D/M",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "999",
    "removeOlderPoints": "",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 950,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "fe855bf9cc7403d5",
    "type": "ui_chart",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "group": "90c93efcedc1ffc9",
    "order": 5,
    "width": 24,
    "height": 5,
    "label": "Consumo nas últimas 24 horas [W/h]",
    "chartType": "line",
    "legend": "false",
    "xformat": "D/M",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "999",
    "removeOlderPoints": "",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 950,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "4d2e618aed79bf60",
    "type": "ui_chart",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "group": "90c93efcedc1ffc9",
    "order": 7,
    "width": 24,
    "height": 5,
    "label": "Consumo nos últimos 30 meses [KW/h]",
    "chartType": "bar",
    "legend": "false",
    "xformat": "D/M",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "999",
    "removeOlderPoints": "",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 960,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "36d56ac978e19968",
    "type": "ui_chart",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "group": "90c93efcedc1ffc9",
    "order": 3,
    "width": 18,
    "height": 5,
    "label": "Histórico",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "999",
    "removeOlderPoints": "250",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 560,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "5d73ac6fbc2d7a0e",
    "type": "mqtt-broker",
    "name": "",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "1172ed95d7a8c3d0",
    "type": "mongodb",
    "hostname": "smartenergycluster.jsanh.mongodb.net",
    "topology": "dnscluster",
    "connectOptions": "retryWrites=true&w=majority",
    "port": "27017",
    "db": "smart_energy",
    "name": "SmartEnergyDB"
  },
  {
    "id": "90c93efcedc1ffc9",
    "type": "ui_group",
    "name": "Default",
    "tab": "99caf3c55a3e5f6a",
    "order": 1,
    "disp": false,
    "width": "24",
    "collapse": false,
    "className": ""
  },
  {
    "id": "99caf3c55a3e5f6a",
    "type": "ui_tab",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": true
  }
]