src/dashboad/nodered.json
[
  {
    "id": "db6cee61a5059840",
    "type": "tab",
    "label": "Smart Energy",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "f5a6d37d9a808466",
    "type": "function",
    "z": "db6cee61a5059840",
    "name": "",
    "func": "msg.payload = msg.payload.power;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 220,
    "wires": [
      [
        "c46ffbaa55d6b58b",
        "d402280a4cecfd9f"
      ]
    ]
  },
  {
    "id": "f8a384d3c10627b1",
    "type": "inject",
    "z": "db6cee61a5059840",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 40,
    "wires": [
      [
        "34759a087e832b34"
      ]
    ]
  },
  {
    "id": "34759a087e832b34",
    "type": "exec",
    "z": "db6cee61a5059840",
    "command": "sudo reboot",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "oldrc": false,
    "name": "",
    "x": 330,
    "y": 40,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "5b0008d4f864a1a1",
    "type": "file",
    "z": "db6cee61a5059840",
    "name": "file",
    "filename": "",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 610,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "7a2baa5df204274a",
    "type": "function",
    "z": "db6cee61a5059840",
    "name": "",
    "func": "var date = new Date().toISOString();\n\nvar year = date.slice(0, 4)\nvar month = date.slice(5, 7)\nvar fulldate = date.slice(0, 10)\n\nmsg.filename = \"/home/dev/Documentos/github/Smart-Energy-System/Smart-Energy-Datasets/src/users/Valdenir/time_series/\" + fulldate + \".csv\";\nmsg.payload = date.toString() + \",\" + msg.payload.power;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 120,
    "wires": [
      [
        "5b0008d4f864a1a1"
      ]
    ]
  },
  {
    "id": "9087e3aa5fa86538",
    "type": "function",
    "z": "db6cee61a5059840",
    "name": "",
    "func": "user_name = \"Valdenir\";\n\nmsg.collection = user_name + \"_TimeSeries\";\nmsg.limit = 24;\nmsg.payload = {};\nmsg.sort = {\n    \"date\": -1\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 300,
    "wires": [
      [
        "9c5e8edf70d31d02"
      ]
    ]
  },
  {
    "id": "8803f9296c6168c6",
    "type": "function",
    "z": "db6cee61a5059840",
    "name": "",
    "func": "var labels = []\nvar data = [[]]\nmsg.payload.forEach(function (item, indice, array) {\n    labels.push(item.date.substring(10, 16))\n    data[0].push(item.consumption_kwh * 1000)\n});\n\nmsg.payload = [{\n    \"series\": [\"Consumo\"],\n    \"data\": data,\n    \"labels\": labels\n}];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 300,
    "wires": [
      [
        "bb6b5282557f074d"
      ]
    ]
  },
  {
    "id": "9c1d75e30a9ed6d1",
    "type": "function",
    "z": "db6cee61a5059840",
    "name": "",
    "func": "var labels = []\nvar data = [[]]\n\nmsg.payload.forEach(function (item, indice, array) {\n    labels.push(item.date.substring(5, 10))\n    data[0].push(item.consumption_kwh)\n});\n\ndata[0].reverse();\nlabels.reverse();\n\nmsg.payload = [{\n    \"series\": [\"Consumo\"],\n    \"data\": data,\n    \"labels\": labels\n}];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 360,
    "wires": [
      [
        "92e99d9f265635f1"
      ]
    ]
  },
  {
    "id": "6e0b378cede38a1d",
    "type": "function",
    "z": "db6cee61a5059840",
    "name": "",
    "func": "var num_days = parseInt(msg.payload);\n\nuser_name = \"Valdenir\"\n\nmsg.collection = user_name + \"_TimeSeries\"\nmsg.payload = [\n\n    {\n        \"$group\": {\n            \"_id\": {\n                \"$substr\": [\"$date\", 0, 10]\n            },\n            \"date\": {\n                \"$first\": \"$date\"\n            },\n            \"consumption_kwh\": {\n                \"$sum\": \"$consumption_kwh\"\n            },\n        }\n\n    }, {\n        \"$sort\": {\n            \"date\": -1\n        }\n    }, {\n        \"$limit\": num_days\n    }\n]\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 360,
    "wires": [
      [
        "0d36b39e76c35ad5"
      ]
    ]
  },
  {
    "id": "650ec40d225821ac",
    "type": "mqtt in",
    "z": "db6cee61a5059840",
    "name": "Sensor",
    "topic": "/smart_energy/publish/client/Valdenir",
    "qos": "0",
    "datatype": "auto",
    "broker": "5d73ac6fbc2d7a0e",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 190,
    "y": 160,
    "wires": [
      [
        "8f5405574708108d"
      ]
    ]
  },
  {
    "id": "8f5405574708108d",
    "type": "json",
    "z": "db6cee61a5059840",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 330,
    "y": 160,
    "wires": [
      [
        "7a2baa5df204274a",
        "f5a6d37d9a808466"
      ]
    ]
  },
  {
    "id": "066e20c5f1a362ad",
    "type": "function",
    "z": "db6cee61a5059840",
    "name": "",
    "func": "var labels = []\nvar data = [[]]\n\nmsg.payload.forEach(function (item, indice, array) {\n    labels.push(item.date.substring(0, 7))\n    data[0].push(item.consumption_kwh)\n});\n\nlabels.reverse();\ndata[0].reverse();\n\nmsg.payload = [{\n    \"series\": [\"Consumo\"],\n    \"data\": data,\n    \"labels\": labels\n}];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 420,
    "wires": [
      [
        "e5c7ac1511b08c1c"
      ]
    ]
  },
  {
    "id": "a832e9f481e721ee",
    "type": "function",
    "z": "db6cee61a5059840",
    "name": "",
    "func": "var num_months = parseInt(msg.payload);\n\nuser_name = \"Valdenir\"\n\nmsg.collection = user_name + \"_TimeSeries\"\nmsg.payload = [{\n        \"$group\": {\n            \"_id\": {\n                \"$substr\": [\"$date\", 0, 7]\n            },\n            \"date\": {\n                \"$first\": \"$date\"\n            },\n            \"consumption_kwh\": {\n                \"$sum\": \"$consumption_kwh\"\n            },\n        }\n    },\n    {\n        \"$sort\": {\n            \"date\": -1\n        }\n    },\n    {\n        \"$limit\": num_months\n    }\n]\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 420,
    "wires": [
      [
        "12961ada64aad7af"
      ]
    ]
  },
  {
    "id": "c46ffbaa55d6b58b",
    "type": "ui_gauge",
    "z": "db6cee61a5059840",
    "name": "Tempo Real",
    "group": "2f12d5f7.07b6aa",
    "order": 1,
    "width": "4",
    "height": "5",
    "gtype": "donut",
    "title": "Tempo Real",
    "label": "w",
    "format": "{{value}}",
    "min": 0,
    "max": "5000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "1000",
    "seg2": "3000",
    "className": "",
    "x": 630,
    "y": 200,
    "wires": []
  },
  {
    "id": "d402280a4cecfd9f",
    "type": "ui_chart",
    "z": "db6cee61a5059840",
    "name": "Histórico",
    "group": "2f12d5f7.07b6aa",
    "order": 2,
    "width": "20",
    "height": "5",
    "label": "Histórico de Consumo [W]",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "2000",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 620,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "92e99d9f265635f1",
    "type": "ui_chart",
    "z": "db6cee61a5059840",
    "name": "Consumo ao longo dos dias",
    "group": "2f12d5f7.07b6aa",
    "order": 6,
    "width": "24",
    "height": "5",
    "label": "Consumo ao longo dos dias [KW/h]",
    "chartType": "bar",
    "legend": "false",
    "xformat": "D/M",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "999",
    "removeOlderPoints": "",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 820,
    "y": 360,
    "wires": [
      []
    ]
  },
  {
    "id": "bb6b5282557f074d",
    "type": "ui_chart",
    "z": "db6cee61a5059840",
    "name": "Consumo nas últimas 24 horas",
    "group": "2f12d5f7.07b6aa",
    "order": 4,
    "width": "24",
    "height": "5",
    "label": "Consumo nas últimas 24 horas [W/h]",
    "chartType": "line",
    "legend": "false",
    "xformat": "D/M",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "999",
    "removeOlderPoints": "",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 830,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "e5c7ac1511b08c1c",
    "type": "ui_chart",
    "z": "db6cee61a5059840",
    "name": "Consumo ao longo dos meses",
    "group": "2f12d5f7.07b6aa",
    "order": 8,
    "width": "24",
    "height": "5",
    "label": "Consumo ao longo dos meses [KW/h]",
    "chartType": "bar",
    "legend": "false",
    "xformat": "D/M",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "999",
    "removeOlderPoints": "",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 830,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "9c5e8edf70d31d02",
    "type": "mongodb in",
    "z": "db6cee61a5059840",
    "mongodb": "31d096168132145b",
    "name": "",
    "collection": "",
    "operation": "find",
    "x": 460,
    "y": 300,
    "wires": [
      [
        "8803f9296c6168c6"
      ]
    ]
  },
  {
    "id": "0d36b39e76c35ad5",
    "type": "mongodb in",
    "z": "db6cee61a5059840",
    "mongodb": "31d096168132145b",
    "name": "",
    "collection": "",
    "operation": "aggregate",
    "x": 460,
    "y": 360,
    "wires": [
      [
        "9c1d75e30a9ed6d1"
      ]
    ]
  },
  {
    "id": "12961ada64aad7af",
    "type": "mongodb in",
    "z": "db6cee61a5059840",
    "mongodb": "31d096168132145b",
    "name": "",
    "collection": "",
    "operation": "aggregate",
    "x": 460,
    "y": 420,
    "wires": [
      [
        "066e20c5f1a362ad"
      ]
    ]
  },
  {
    "id": "f8b4d3424a3fb119",
    "type": "ui_dropdown",
    "z": "db6cee61a5059840",
    "name": "",
    "label": "Seleção de dias",
    "tooltip": "",
    "place": "Select option",
    "group": "2f12d5f7.07b6aa",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "Últimos 30 dias",
        "value": "30",
        "type": "str"
      },
      {
        "label": "Últimos 15 dias",
        "value": "15",
        "type": "str"
      },
      {
        "label": "Últimos 5 dias",
        "value": "5",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "className": "",
    "x": 140,
    "y": 360,
    "wires": [
      [
        "6e0b378cede38a1d"
      ]
    ]
  },
  {
    "id": "530b65458d37e03f",
    "type": "ui_button",
    "z": "db6cee61a5059840",
    "name": "Atualizar 24 horas",
    "group": "2f12d5f7.07b6aa",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Atualizar",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 130,
    "y": 300,
    "wires": [
      [
        "9087e3aa5fa86538"
      ]
    ]
  },
  {
    "id": "148795d91875485d",
    "type": "ui_dropdown",
    "z": "db6cee61a5059840",
    "name": "",
    "label": "Seleção de meses",
    "tooltip": "",
    "place": "Select option",
    "group": "2f12d5f7.07b6aa",
    "order": 7,
    "width": 0,
    "height": 0,
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "Últimos 24 meses",
        "value": "24",
        "type": "str"
      },
      {
        "label": "Últimos 12 meses",
        "value": "12",
        "type": "str"
      },
      {
        "label": "Últimos 6 meses",
        "value": "6",
        "type": "str"
      },
      {
        "label": "Últimos 3 meses",
        "value": "3",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "topic",
    "topicType": "msg",
    "className": "",
    "x": 130,
    "y": 420,
    "wires": [
      [
        "a832e9f481e721ee"
      ]
    ]
  },
  {
    "id": "5d73ac6fbc2d7a0e",
    "type": "mqtt-broker",
    "name": "",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "2f12d5f7.07b6aa",
    "type": "ui_group",
    "name": "Dashboard",
    "tab": "765531fd.bdff6",
    "order": 1,
    "disp": false,
    "width": "24",
    "collapse": false
  },
  {
    "id": "31d096168132145b",
    "type": "mongodb",
    "hostname": "smartenergycluster.jsanh.mongodb.net",
    "topology": "dnscluster",
    "connectOptions": "retryWrites=true&w=majority",
    "port": "27017",
    "db": "smart_energy",
    "name": "SmartEnergyDB"
  },
  {
    "id": "765531fd.bdff6",
    "type": "ui_tab",
    "name": "Smart Energy",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": true
  }
]