src/dashboad/nodered.json
[
  {
    "id": "c234a5bd34f73dd3",
    "type": "tab",
    "label": "Smart Energy",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "5aa687403127f993",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "msg.payload = msg.payload.power;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 120,
    "wires": [
      [
        "93b3a03f36dc2da6"
      ]
    ]
  },
  {
    "id": "6f5b8f174b5d4c69",
    "type": "exec",
    "z": "c234a5bd34f73dd3",
    "command": "sudo reboot",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 310,
    "y": 380,
    "wires": [
      [],
      [],
      []
    ]
  },
  {
    "id": "b54bd36df952598c",
    "type": "file",
    "z": "c234a5bd34f73dd3",
    "name": "file",
    "filename": "",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 610,
    "y": 40,
    "wires": [
      [
        "a6b51f76696d76f6"
      ]
    ]
  },
  {
    "id": "3c858404b627ec81",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "repositório",
    "func": "var topic = msg.topic.split(\"/\").pop()\nvar date = new Date().toISOString();\n\nvar year = date.slice(0, 4)\nvar month = date.slice(5, 7)\nvar fulldate = date.slice(0, 10)\n\nmsg.filename = \"/home/pi/Smart-Energy-Datasets/src/time_series/\" + topic + \"/\" + fulldate + \".csv\";\nmsg.payload = date.toString() + \",\" + msg.payload.power;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 40,
    "wires": [
      [
        "b54bd36df952598c"
      ]
    ]
  },
  {
    "id": "86acfe57c34128c1",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "user_name = \"Valdenir\";\n\nmsg.collection = user_name + \"_TimeSeries\";\nmsg.limit = 24;\nmsg.payload = {};\nmsg.sort = {\n    \"date\": -1\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 180,
    "wires": [
      [
        "ae2e7a8c12a89d6e"
      ]
    ]
  },
  {
    "id": "de25178d77070328",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "var labels = []\nvar data = [[]]\nmsg.payload.forEach(function (item, indice, array) {\n    labels.push(item.date.substring(10, 16))\n    data[0].push(item.consumption_kwh * 1000)\n});\n\ndata[0].reverse();\nlabels.reverse();\n\nmsg.payload = [{\n    \"series\": [\"Consumo\"],\n    \"data\": data,\n    \"labels\": labels\n}];\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 180,
    "wires": [
      [
        "813dc5ebd92d87a3"
      ]
    ]
  },
  {
    "id": "30cbd3f6c077a5bd",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "var labels = []\nvar data = [[]]\n\nmsg.payload.forEach(function (item, indice, array) {\n    labels.push(item.date.substring(5, 10))\n    data[0].push(item.consumption_kwh)\n});\n\ndata[0].reverse();\nlabels.reverse();\n\nmsg.payload = [{\n    \"series\": [\"Consumo\"],\n    \"data\": data,\n    \"labels\": labels\n}];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 240,
    "wires": [
      [
        "5ac0b81a078d26ad"
      ]
    ]
  },
  {
    "id": "a628c97fe6d3d8d5",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "var num_days = 30;\n\nuser_name = \"Valdenir\"\n\nmsg.collection = user_name + \"_TimeSeries\"\nmsg.payload = [\n\n    {\n        \"$group\": {\n            \"_id\": {\n                \"$substr\": [\"$date\", 0, 10]\n            },\n            \"date\": {\n                \"$first\": \"$date\"\n            },\n            \"consumption_kwh\": {\n                \"$sum\": \"$consumption_kwh\"\n            },\n        }\n\n    }, {\n        \"$sort\": {\n            \"date\": -1\n        }\n    }, {\n        \"$limit\": num_days\n    }\n]\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 240,
    "wires": [
      [
        "7e38492e6ee9db31"
      ]
    ]
  },
  {
    "id": "5ad5632278f66db3",
    "type": "mqtt in",
    "z": "c234a5bd34f73dd3",
    "name": "Sensor",
    "topic": "/smart_energy/publish/client/a32ab0af-970c-11ec-9779-a463a116a9e2",
    "qos": "0",
    "datatype": "auto",
    "broker": "5d73ac6fbc2d7a0e",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 80,
    "wires": [
      [
        "7f8b837b1aad4a6c"
      ]
    ]
  },
  {
    "id": "7f8b837b1aad4a6c",
    "type": "json",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 290,
    "y": 80,
    "wires": [
      [
        "3c858404b627ec81",
        "5aa687403127f993"
      ]
    ]
  },
  {
    "id": "0fe5966d6583d060",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "var labels = []\nvar data = [[]]\n\nmsg.payload.forEach(function (item, indice, array) {\n    labels.push(item.date.substring(0, 7))\n    data[0].push(item.consumption_kwh)\n});\n\nlabels.reverse();\ndata[0].reverse();\n\nmsg.payload = [{\n    \"series\": [\"Consumo\"],\n    \"data\": data,\n    \"labels\": labels\n}];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 300,
    "wires": [
      [
        "36794e9c483ce141"
      ]
    ]
  },
  {
    "id": "6bec53364ed3021d",
    "type": "function",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "func": "var num_months = 30; \n\nuser_name = \"Valdenir\"\n\nmsg.collection = user_name + \"_TimeSeries\"\nmsg.payload = [{\n        \"$group\": {\n            \"_id\": {\n                \"$substr\": [\"$date\", 0, 7]\n            },\n            \"date\": {\n                \"$first\": \"$date\"\n            },\n            \"consumption_kwh\": {\n                \"$sum\": \"$consumption_kwh\"\n            },\n        }\n    },\n    {\n        \"$sort\": {\n            \"date\": -1\n        }\n    },\n    {\n        \"$limit\": num_months\n    }\n]\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 300,
    "wires": [
      [
        "77c2a51a58094522"
      ]
    ]
  },
  {
    "id": "93b3a03f36dc2da6",
    "type": "ui_gauge",
    "z": "c234a5bd34f73dd3",
    "name": "Tempo Real",
    "group": "90c93efcedc1ffc9",
    "order": 2,
    "width": "6",
    "height": 5,
    "gtype": "donut",
    "title": "Tempo Real",
    "label": "w",
    "format": "{{value}}",
    "min": 0,
    "max": "2000",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "1000",
    "seg2": "3000",
    "className": "",
    "x": 630,
    "y": 120,
    "wires": []
  },
  {
    "id": "5ac0b81a078d26ad",
    "type": "ui_chart",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "group": "90c93efcedc1ffc9",
    "order": 4,
    "width": 24,
    "height": 5,
    "label": "Consumo nos últimos 30 dias [KW/h]",
    "chartType": "bar",
    "legend": "false",
    "xformat": "D/M",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "999",
    "removeOlderPoints": "",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 850,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "813dc5ebd92d87a3",
    "type": "ui_chart",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "group": "90c93efcedc1ffc9",
    "order": 3,
    "width": "18",
    "height": 5,
    "label": "Consumo nas últimas 24 horas [W/h]",
    "chartType": "line",
    "legend": "false",
    "xformat": "D/M",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "999",
    "removeOlderPoints": "",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 850,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "36794e9c483ce141",
    "type": "ui_chart",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "group": "90c93efcedc1ffc9",
    "order": 5,
    "width": 24,
    "height": 5,
    "label": "Consumo nos últimos 30 meses [KW/h]",
    "chartType": "bar",
    "legend": "false",
    "xformat": "D/M",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "999",
    "removeOlderPoints": "",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 860,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "ae2e7a8c12a89d6e",
    "type": "mongodb in",
    "z": "c234a5bd34f73dd3",
    "mongodb": "1172ed95d7a8c3d0",
    "name": "",
    "collection": "",
    "operation": "find",
    "x": 460,
    "y": 180,
    "wires": [
      [
        "de25178d77070328"
      ]
    ]
  },
  {
    "id": "7e38492e6ee9db31",
    "type": "mongodb in",
    "z": "c234a5bd34f73dd3",
    "mongodb": "1172ed95d7a8c3d0",
    "name": "",
    "collection": "",
    "operation": "aggregate",
    "x": 460,
    "y": 240,
    "wires": [
      [
        "30cbd3f6c077a5bd"
      ]
    ]
  },
  {
    "id": "77c2a51a58094522",
    "type": "mongodb in",
    "z": "c234a5bd34f73dd3",
    "mongodb": "1172ed95d7a8c3d0",
    "name": "",
    "collection": "",
    "operation": "aggregate",
    "x": 460,
    "y": 300,
    "wires": [
      [
        "0fe5966d6583d060"
      ]
    ]
  },
  {
    "id": "1f35fbb8225ac418",
    "type": "ui_button",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "group": "90c93efcedc1ffc9",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Atualizar",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 120,
    "y": 240,
    "wires": [
      [
        "a628c97fe6d3d8d5",
        "6bec53364ed3021d",
        "86acfe57c34128c1"
      ]
    ]
  },
  {
    "id": "9c3ec9c3bdcdb896",
    "type": "ui_button",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "group": "90c93efcedc1ffc9",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Reboot",
    "tooltip": "",
    "color": "",
    "bgcolor": "red",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 120,
    "y": 380,
    "wires": [
      [
        "6f5b8f174b5d4c69"
      ]
    ]
  },
  {
    "id": "a6b51f76696d76f6",
    "type": "debug",
    "z": "c234a5bd34f73dd3",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 770,
    "y": 40,
    "wires": []
  },
  {
    "id": "5d73ac6fbc2d7a0e",
    "type": "mqtt-broker",
    "name": "",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "90c93efcedc1ffc9",
    "type": "ui_group",
    "name": "Default",
    "tab": "99caf3c55a3e5f6a",
    "order": 1,
    "disp": false,
    "width": "24",
    "collapse": false,
    "className": ""
  },
  {
    "id": "1172ed95d7a8c3d0",
    "type": "mongodb",
    "hostname": "smartenergycluster.jsanh.mongodb.net",
    "topology": "dnscluster",
    "connectOptions": "retryWrites=true&w=majority",
    "port": "27017",
    "db": "smart_energy",
    "name": "SmartEnergyDB"
  },
  {
    "id": "99caf3c55a3e5f6a",
    "type": "ui_tab",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": true
  }
]